.flex-element {
    flex: 1;
    justify-content: space-between;
    padding-top: 30px;
}
@media (max-width: 450px) {
    .home {
        padding-top: 20px
    }
  }
  @media (max-width: 600px) {
    .home {
        padding-top: 10px
    }
  }
