.flex-container {
    justify-content: center;
}
.flex-element {
    flex: 1;
    justify-content: space-between;
}
@media (max-width: 815px) {
    .home {
        padding-top: 20px
    }
  }
  @media (max-width: 1000px) {
    .home {
        padding-top: 10px
    }
  }
